@charset "UTF-8";
body {
	
	text-align: center;
	background-color: black;
	color: white;
  font-family: "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
  font-size: 16px;
  line-height: 28px;
}
a {
  color: white;
}
div.main-body {
	margin:100px auto;
	width: 440px;
	height: 600px;
	text-align: left;
}